<div class="container">
    <nav class="navbar">
      <a class="navbar_register bt bt_brown" href="#" title="Cadastre-se para adotar um pet">Cadastre-se</a>

      <a class="navbar_logo" href="/" title="adotappet">
        <img src="/assets/images/logo.png" alt="Logo adotappet" />
        <strong>adotappet</strong>
      </a>

      <ul>
        <li><a class="link" href="#" title="Sobre a adotappet">Sobre nós</a></li>
        <li><a class="link" href="#" title="Adoção responsável">Adoção</a></li>
        <li><a class="link" href="#" title="Entre em contato conosco">Contato</a></li>
      </ul>
    </nav>

    <main class="content">
        <router-outlet></router-outlet>
    </main>

    <footer>
        <p>adotappet | Grupo 9 @ FIAP</p>
    </footer>
</div>


