<section id="banner_home" class="banner">
	<img src="/assets/images/ilt_banner.png" title="Ilustração humano e pets" />
	<div class="banner_info">
		<span>Faça parte!</span>
		<h1><strong>Doe seu lar,</strong><br /> adote um pet.</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut impedit aspernatur minima optio exercitationem, nostrum, ipsa natus ad necessitatibus! Quas!</p>
	</div>

	<div id="banner_filter" class="banner_filters">
		<a href="#" class="bt" title="Filtrar por cachorros para adoção">Cachorros</a>
		<a href="#" class="bt" title="Filtrar por gatos para adoção">Gatos</a>
	</div>
</section>
